<a href="https://colab.research.google.com/github/Addair40/colab/blob/main/2_4_Preparaci%C3%B3n_de_Calificaciones_V2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- ALUMNO: JONATHAN ADAIR RUIZ HERNANDEZ
---
- MATRICULA: 1719110378
---
- MATERIA: EXTRACION DE CONOCIMIENTO EN BASE DE DATOS
---
- GRUPO: IDGS 91
---
- FECHA: 28 DE OCTUBRE DEL 2022
---
DESCRIPCIÓN
En la universidad "ACME" se desea calcular el promedio de cada
uno de los alumnos, y el área de control escolar genero el archivo calificaciones_v2.csv para calcular el promedio por alumno, y tener un archivo con formato similar al archivo calificaciones_promedio_v2.csv.

Su trabajo consiste en formatear el archivo calificaciones_v2.csv, calcular el promedio y generar un archivo similar como calificaciones_promedio_v2.csv

Actividades:
1.   Descargar los archivos anexos
2.   Utlizar Colab o Jupyter Notebook para analizar los datos
3.   Documentar el proceso de transformación de los datos
4.   Generar el archivo calificaciones_promedio_v2.csv

Resultado:
1.   Agregar una cabecera a la Notebook de Jupyter con su     Nombre, grupo, fecha, descripción del problema
2.   Convertir el Notebook a PDF y enviarlo para su revisión
3.   Anexar el archivo calificaciones_promedio_v2.csv generado.

SE EXPORTA CSV PARA LEER Y ABRIR DATOS .CSV Y SE EXPORTA NUMPY PARA GENERAR, MANIPULA Y REALIZA DIFERENTES ACCIONES Y PANDAS PARA LA MANIPULACION Y MANEJO DE DATOS

In [106]:
#Importar librerias

import csv           #leer de forma facil el archivo csv
import numpy as np
import pandas as pd

In [107]:
np.__version__   #Debemos de verificar la version de trabajo de numpy

'1.21.6'

In [108]:
pd.__version__   #Debemos de verificar la version de trabajo de pandas

'1.3.5'

In [109]:
csv.__version__   #Debemos de verificar la version de trabajo de csv

'1.0'

COMENZAMOS PRINCIPALMENTE ABRIENDO EL DOCUMENTO PREVIAMENTE IMPORTADO Y DE ESTA MANERA ASI MISMO VISUALIZAR LOS DATOS QUE ESTAN DENTRO DE "calificaciones_v2.csv"

In [117]:
archivo = pd.read_csv('calificaciones_v2.csv', header=None)

In [175]:
archivo

array([['11111111', 'Alumno 1', 'TI11', '1', '8', '1', '7', '2',
        'regular'],
       ['11111112', 'Alumno 2', 'TI11', '10', '7', '1', '8', '5',
        'regular'],
       ['11111113', 'Alumno 3', 'TI11', nan, '1', '1', '3', '0',
        'regular'],
       ['11111114', 'Alumno 4', 'TI11', nan, '4', '3', '2', '7',
        'regular'],
       ['11111115', 'Alumno 5', 'TI11', '9', '10', '3', '9', '2',
        'regular'],
       ['11111116', 'Alumno 6', 'TI11', '1', '3', '8', '1', '7',
        'regular'],
       ['11111117', 'Alumno 7', 'TI11', '4', '7', '1', '6', '5',
        'regular'],
       ['11111118', 'Alumno 8', 'TI11', '10', '1', '7', '10', '0',
        'regular'],
       ['11111119', 'Alumno 9', 'TI11', '5', '5', '4', '0', '3',
        'regular'],
       ['11111120', 'Alumno 10', 'TI11', '5', '7', '3', '3', '4',
        'regular'],
       ['11111121', 'Alumno 11', 'TI11', '6', '1', '3', '7', '0',
        'regular'],
       ['11111122', 'Alumno 12', 'TI11', '7', '2', '5', '4', '5',
        'regular'],
       ['11111123', 'Alumno 13', 'TI12', '5', '2', '3', '0', '1',
        'regular'],
       ['11111124', 'Alumno 14', 'TI12', '5', '2', '10', '0', '6',
        'regular'],
       ['11111125', 'Alumno 15', 'TI12', '9', '9', '1', '3', '1',
        'regular'],
       ['11111126', 'Alumno 16', 'TI12', '1', '2', '1', '7', '7',
        'regular'],
       ['11111127', 'Alumno 17', 'TI12', '0', '2', '1', '0', '2',
        'regular'],
       ['11111128', 'Alumno 18', 'TI12', '0', '1', '4', '7', '6',
        'regular'],
       ['11111129', 'Alumno 19', 'TI12', '0', '8', '7', '8', '2',
        'regular'],
       ['11111130', 'Alumno 20', 'TI12', '4', '0', '5', '0', '4',
        'regular'],
       ['11111131', 'Alumno 21', 'TI12', '6', '4', '2', '10', '10',
        'regular'],
       ['11111132', 'Alumno 22', 'TI12', '5', '6', '9', '0', '3',
        'regular'],
       ['11111133', 'Alumno 23', 'TI12', '1', '9', '7', '7', '6',
        'regular'],
       ['11111134', 'Alumno 24', 'TI41', '4', '0', '10', '7', '0',
        'regular'],
       ['11111135', 'Alumno 25', 'TI41', '3', '3', '0', '8', '5',
        'regular'],
       ['11111136', 'Alumno 26', 'TI41', '0', '5', '7', '2', '5',
        'regular'],
       ['11111137', 'Alumno 27', 'TI41', '0', '0', '6', '0', '5',
        'regular'],
       ['11111138', 'Alumno 28', 'TI41', '9', '3', '10', '9', '6',
        'regular'],
       ['11111139', 'Alumno 29', 'TI41', '0', '5', '1', '10', '1',
        'regular'],
       ['11111140', 'Alumno 30', 'TI41', '3', '3', '5', '9', '9',
        'regular'],
       ['11111141', 'Alumno 31', 'TI41', '10', '10', '4', '1', '4',
        'regular'],
       ['11111142', 'Alumno 32', 'TI41', '6', '0', '5', '3', '2',
        'regular'],
       ['11111143', 'Alumno 33', 'IDGS91', '0', '4', '1', '7', '9',
        'regular'],
       ['11111144', 'Alumno 34', 'IDGS91', '1', '1', '2', '3', '8',
        'regular'],
       ['11111145', 'Alumno 35', 'IDGS91', '0', '7', '10', '7', '7',
        'regular'],
       ['11111146', 'Alumno 36', 'IDGS91', '7', '1', '4', '0', '6',
        'regular'],
       ['11111147', 'Alumno 37', 'IDGS91', '6', '6', '4', '3', '0',
        'regular'],
       ['11111148', 'Alumno 38', 'IDGS91', '0', '6', '6', '3', '5',
        'regular'],
       ['11111149', 'Alumno 39', 'IDGS91', '8', '7', '9', '5', '2',
        'regular'],
       ['11111150', 'Alumno 40', 'IDGS91', '1', '0', '3', '4', '10',
        'regular'],
       ['11111151', 'Alumno 41', 'IDGS91', '6', '5', '1', '5', '9',
        'regular'],
       ['11111152', 'Alumno 42', 'IDGS91', '2', '0', '9', '9', '5',
        'regular'],
       ['11111153', 'Alumno 43', 'IDGS91', '3', '4', '0', '0', '0',
        'regular'],
       ['11111154', 'Alumno 44', 'IDGS91', '3', '1', '1', '7', '10',
        'regular'],
       ['11111155', 'Alumno 45', 'IDGS91', '4', '1', '2', '8', '6',
        'regular'],
       ['11111156', 'Alumno 46', 'IDGS71', '10', '1', '10', '0', '7',
        'regular'],
       ['11111157', 'Alumno 47', 'IDGS71', '9', '10', '1', '3', '9',
        'regular'],
       ['11111158', 'Alumno 48', 'IDGS71', '4', '4', '10', '6', '8',
        '10']], dtype=object)

PROCESO PARA ELIMINAR DATOS INECESARIOS Y/O DUPLICADOS DENTRO DEL ARCHIVO "calificaciones_v2.csv" DE MANERA MANUAL

In [119]:
archivo = archivo.drop([8,108,109,435])

In [174]:
archivo

array([['11111111', 'Alumno 1', 'TI11', '1', '8', '1', '7', '2',
        'regular'],
       ['11111112', 'Alumno 2', 'TI11', '10', '7', '1', '8', '5',
        'regular'],
       ['11111113', 'Alumno 3', 'TI11', nan, '1', '1', '3', '0',
        'regular'],
       ['11111114', 'Alumno 4', 'TI11', nan, '4', '3', '2', '7',
        'regular'],
       ['11111115', 'Alumno 5', 'TI11', '9', '10', '3', '9', '2',
        'regular'],
       ['11111116', 'Alumno 6', 'TI11', '1', '3', '8', '1', '7',
        'regular'],
       ['11111117', 'Alumno 7', 'TI11', '4', '7', '1', '6', '5',
        'regular'],
       ['11111118', 'Alumno 8', 'TI11', '10', '1', '7', '10', '0',
        'regular'],
       ['11111119', 'Alumno 9', 'TI11', '5', '5', '4', '0', '3',
        'regular'],
       ['11111120', 'Alumno 10', 'TI11', '5', '7', '3', '3', '4',
        'regular'],
       ['11111121', 'Alumno 11', 'TI11', '6', '1', '3', '7', '0',
        'regular'],
       ['11111122', 'Alumno 12', 'TI11', '7', '2', '5', '4', '5',
        'regular'],
       ['11111123', 'Alumno 13', 'TI12', '5', '2', '3', '0', '1',
        'regular'],
       ['11111124', 'Alumno 14', 'TI12', '5', '2', '10', '0', '6',
        'regular'],
       ['11111125', 'Alumno 15', 'TI12', '9', '9', '1', '3', '1',
        'regular'],
       ['11111126', 'Alumno 16', 'TI12', '1', '2', '1', '7', '7',
        'regular'],
       ['11111127', 'Alumno 17', 'TI12', '0', '2', '1', '0', '2',
        'regular'],
       ['11111128', 'Alumno 18', 'TI12', '0', '1', '4', '7', '6',
        'regular'],
       ['11111129', 'Alumno 19', 'TI12', '0', '8', '7', '8', '2',
        'regular'],
       ['11111130', 'Alumno 20', 'TI12', '4', '0', '5', '0', '4',
        'regular'],
       ['11111131', 'Alumno 21', 'TI12', '6', '4', '2', '10', '10',
        'regular'],
       ['11111132', 'Alumno 22', 'TI12', '5', '6', '9', '0', '3',
        'regular'],
       ['11111133', 'Alumno 23', 'TI12', '1', '9', '7', '7', '6',
        'regular'],
       ['11111134', 'Alumno 24', 'TI41', '4', '0', '10', '7', '0',
        'regular'],
       ['11111135', 'Alumno 25', 'TI41', '3', '3', '0', '8', '5',
        'regular'],
       ['11111136', 'Alumno 26', 'TI41', '0', '5', '7', '2', '5',
        'regular'],
       ['11111137', 'Alumno 27', 'TI41', '0', '0', '6', '0', '5',
        'regular'],
       ['11111138', 'Alumno 28', 'TI41', '9', '3', '10', '9', '6',
        'regular'],
       ['11111139', 'Alumno 29', 'TI41', '0', '5', '1', '10', '1',
        'regular'],
       ['11111140', 'Alumno 30', 'TI41', '3', '3', '5', '9', '9',
        'regular'],
       ['11111141', 'Alumno 31', 'TI41', '10', '10', '4', '1', '4',
        'regular'],
       ['11111142', 'Alumno 32', 'TI41', '6', '0', '5', '3', '2',
        'regular'],
       ['11111143', 'Alumno 33', 'IDGS91', '0', '4', '1', '7', '9',
        'regular'],
       ['11111144', 'Alumno 34', 'IDGS91', '1', '1', '2', '3', '8',
        'regular'],
       ['11111145', 'Alumno 35', 'IDGS91', '0', '7', '10', '7', '7',
        'regular'],
       ['11111146', 'Alumno 36', 'IDGS91', '7', '1', '4', '0', '6',
        'regular'],
       ['11111147', 'Alumno 37', 'IDGS91', '6', '6', '4', '3', '0',
        'regular'],
       ['11111148', 'Alumno 38', 'IDGS91', '0', '6', '6', '3', '5',
        'regular'],
       ['11111149', 'Alumno 39', 'IDGS91', '8', '7', '9', '5', '2',
        'regular'],
       ['11111150', 'Alumno 40', 'IDGS91', '1', '0', '3', '4', '10',
        'regular'],
       ['11111151', 'Alumno 41', 'IDGS91', '6', '5', '1', '5', '9',
        'regular'],
       ['11111152', 'Alumno 42', 'IDGS91', '2', '0', '9', '9', '5',
        'regular'],
       ['11111153', 'Alumno 43', 'IDGS91', '3', '4', '0', '0', '0',
        'regular'],
       ['11111154', 'Alumno 44', 'IDGS91', '3', '1', '1', '7', '10',
        'regular'],
       ['11111155', 'Alumno 45', 'IDGS91', '4', '1', '2', '8', '6',
        'regular'],
       ['11111156', 'Alumno 46', 'IDGS71', '10', '1', '10', '0', '7',
        'regular'],
       ['11111157', 'Alumno 47', 'IDGS71', '9', '10', '1', '3', '9',
        'regular'],
       ['11111158', 'Alumno 48', 'IDGS71', '4', '4', '10', '6', '8',
        '10']], dtype=object)

In [123]:
califi = archivo.to_numpy()

In [124]:
califi

array([['matricula', '11111111'],
       ['nombre', 'Alumno 1'],
       ['grupo', 'TI11'],
       ['Materia 1', '1'],
       ['Materia 2', '8'],
       ['Materia 3', '1'],
       ['Materia 4', '7'],
       ['Materia 5', '2'],
       ['estado', 'regular'],
       ['matricula', '11111112'],
       ['nombre', 'Alumno 2'],
       ['grupo', 'TI11'],
       ['Materia 1', '10'],
       ['Materia 2', '7'],
       ['Materia 3', '1'],
       ['Materia 4', '8'],
       ['Materia 5', '5'],
       ['estado', 'regular'],
       ['matricula', '11111113'],
       ['nombre', 'Alumno 3'],
       ['grupo', 'TI11'],
       ['Materia 1', nan],
       ['Materia 2', '1'],
       ['Materia 3', '1'],
       ['Materia 4', '3'],
       ['Materia 5', '0'],
       ['estado', 'regular'],
       ['matricula', '11111114'],
       ['nombre', 'Alumno 4'],
       ['grupo', 'TI11'],
       ['Materia 1', nan],
       ['Materia 2', '4'],
       ['Materia 3', '3'],
       ['Materia 4', '2'],
       ['Materia 5', '7'],
       ['estado', 'regular'],
       ['matricula', '11111115'],
       ['nombre', 'Alumno 5'],
       ['grupo', 'TI11'],
       ['Materia 1', '9'],
       ['Materia 2', '10'],
       ['Materia 3', '3'],
       ['Materia 4', '9'],
       ['Materia 5', '2'],
       ['estado', 'regular'],
       ['matricula', '11111116'],
       ['nombre', 'Alumno 6'],
       ['grupo', 'TI11'],
       ['Materia 1', '1'],
       ['Materia 2', '3'],
       ['Materia 3', '8'],
       ['Materia 4', '1'],
       ['Materia 5', '7'],
       ['estado', 'regular'],
       ['matricula', '11111117'],
       ['nombre', 'Alumno 7'],
       ['grupo', 'TI11'],
       ['Materia 1', '4'],
       ['Materia 2', '7'],
       ['Materia 3', '1'],
       ['Materia 4', '6'],
       ['Materia 5', '5'],
       ['estado', 'regular'],
       ['matricula', '11111118'],
       ['nombre', 'Alumno 8'],
       ['grupo', 'TI11'],
       ['Materia 1', '10'],
       ['Materia 2', '1'],
       ['Materia 3', '7'],
       ['Materia 4', '10'],
       ['Materia 5', '0'],
       ['estado', 'regular'],
       ['matricula', '11111119'],
       ['nombre', 'Alumno 9'],
       ['grupo', 'TI11'],
       ['Materia 1', '5'],
       ['Materia 2', '5'],
       ['Materia 3', '4'],
       ['Materia 4', '0'],
       ['Materia 5', '3'],
       ['estado', 'regular'],
       ['matricula', '11111120'],
       ['nombre', 'Alumno 10'],
       ['grupo', 'TI11'],
       ['Materia 1', '5'],
       ['Materia 2', '7'],
       ['Materia 3', '3'],
       ['Materia 4', '3'],
       ['Materia 5', '4'],
       ['estado', 'regular'],
       ['matricula', '11111121'],
       ['nombre', 'Alumno 11'],
       ['grupo', 'TI11'],
       ['Materia 1', '6'],
       ['Materia 2', '1'],
       ['Materia 3', '3'],
       ['Materia 4', '7'],
       ['Materia 5', '0'],
       ['estado', 'regular'],
       ['matricula', '11111122'],
       ['nombre', 'Alumno 12'],
       ['grupo', 'TI11'],
       ['Materia 1', '7'],
       ['Materia 2', '2'],
       ['Materia 3', '5'],
       ['Materia 4', '4'],
       ['Materia 5', '5'],
       ['estado', 'regular'],
       ['matricula', '11111123'],
       ['nombre', 'Alumno 13'],
       ['grupo', 'TI12'],
       ['Materia 1', '5'],
       ['Materia 2', '2'],
       ['Materia 3', '3'],
       ['Materia 4', '0'],
       ['Materia 5', '1'],
       ['estado', 'regular'],
       ['matricula', '11111124'],
       ['nombre', 'Alumno 14'],
       ['grupo', 'TI12'],
       ['Materia 1', '5'],
       ['Materia 2', '2'],
       ['Materia 3', '10'],
       ['Materia 4', '0'],
       ['Materia 5', '6'],
       ['estado', 'regular'],
       ['matricula', '11111125'],
       ['nombre', 'Alumno 15'],
       ['grupo', 'TI12'],
       ['Materia 1', '9'],
       ['Materia 2', '9'],
       ['Materia 3', '1'],
       ['Materia 4', '3'],
       ['Materia 5', '1'],
       ['estado', 'regular'],
       ['matricula', '11111126'],
       ['nombre', 'Alumno 16'],
       ['grupo', 'TI12'],
       ['Materia 1', '1'],
       ['Materia 2', '2'],
       ['Materia 3', '1'],
       ['Materia 4', '7'],
       ['Materia 5', '7'],
       ['estado', 'regular'],
       ['matricula', '11111127'],
       ['nombre', 'Alumno 17'],
       ['grupo', 'TI12'],
       ['Materia 1', '0'],
       ['Materia 2', '2'],
       ['Materia 3', '1'],
       ['Materia 4', '0'],
       ['Materia 5', '2'],
       ['estado', 'regular'],
       ['matricula', '11111128'],
       ['nombre', 'Alumno 18'],
       ['grupo', 'TI12'],
       ['Materia 1', '0'],
       ['Materia 2', '1'],
       ['Materia 3', '4'],
       ['Materia 4', '7'],
       ['Materia 5', '6'],
       ['estado', 'regular'],
       ['matricula', '11111129'],
       ['nombre', 'Alumno 19'],
       ['grupo', 'TI12'],
       ['Materia 1', '0'],
       ['Materia 2', '8'],
       ['Materia 3', '7'],
       ['Materia 4', '8'],
       ['Materia 5', '2'],
       ['estado', 'regular'],
       ['matricula', '11111130'],
       ['nombre', 'Alumno 20'],
       ['grupo', 'TI12'],
       ['Materia 1', '4'],
       ['Materia 2', '0'],
       ['Materia 3', '5'],
       ['Materia 4', '0'],
       ['Materia 5', '4'],
       ['estado', 'regular'],
       ['matricula', '11111131'],
       ['nombre', 'Alumno 21'],
       ['grupo', 'TI12'],
       ['Materia 1', '6'],
       ['Materia 2', '4'],
       ['Materia 3', '2'],
       ['Materia 4', '10'],
       ['Materia 5', '10'],
       ['estado', 'regular'],
       ['matricula', '11111132'],
       ['nombre', 'Alumno 22'],
       ['grupo', 'TI12'],
       ['Materia 1', '5'],
       ['Materia 2', '6'],
       ['Materia 3', '9'],
       ['Materia 4', '0'],
       ['Materia 5', '3'],
       ['estado', 'regular'],
       ['matricula', '11111133'],
       ['nombre', 'Alumno 23'],
       ['grupo', 'TI12'],
       ['Materia 1', '1'],
       ['Materia 2', '9'],
       ['Materia 3', '7'],
       ['Materia 4', '7'],
       ['Materia 5', '6'],
       ['estado', 'regular'],
       ['matricula', '11111134'],
       ['nombre', 'Alumno 24'],
       ['grupo', 'TI41'],
       ['Materia 1', '4'],
       ['Materia 2', '0'],
       ['Materia 3', '10'],
       ['Materia 4', '7'],
       ['Materia 5', '0'],
       ['estado', 'regular'],
       ['matricula', '11111135'],
       ['nombre', 'Alumno 25'],
       ['grupo', 'TI41'],
       ['Materia 1', '3'],
       ['Materia 2', '3'],
       ['Materia 3', '0'],
       ['Materia 4', '8'],
       ['Materia 5', '5'],
       ['estado', 'regular'],
       ['matricula', '11111136'],
       ['nombre', 'Alumno 26'],
       ['grupo', 'TI41'],
       ['Materia 1', '0'],
       ['Materia 2', '5'],
       ['Materia 3', '7'],
       ['Materia 4', '2'],
       ['Materia 5', '5'],
       ['estado', 'regular'],
       ['matricula', '11111137'],
       ['nombre', 'Alumno 27'],
       ['grupo', 'TI41'],
       ['Materia 1', '0'],
       ['Materia 2', '0'],
       ['Materia 3', '6'],
       ['Materia 4', '0'],
       ['Materia 5', '5'],
       ['estado', 'regular'],
       ['matricula', '11111138'],
       ['nombre', 'Alumno 28'],
       ['grupo', 'TI41'],
       ['Materia 1', '9'],
       ['Materia 2', '3'],
       ['Materia 3', '10'],
       ['Materia 4', '9'],
       ['Materia 5', '6'],
       ['estado', 'regular'],
       ['matricula', '11111139'],
       ['nombre', 'Alumno 29'],
       ['grupo', 'TI41'],
       ['Materia 1', '0'],
       ['Materia 2', '5'],
       ['Materia 3', '1'],
       ['Materia 4', '10'],
       ['Materia 5', '1'],
       ['estado', 'regular'],
       ['matricula', '11111140'],
       ['nombre', 'Alumno 30'],
       ['grupo', 'TI41'],
       ['Materia 1', '3'],
       ['Materia 2', '3'],
       ['Materia 3', '5'],
       ['Materia 4', '9'],
       ['Materia 5', '9'],
       ['estado', 'regular'],
       ['matricula', '11111141'],
       ['nombre', 'Alumno 31'],
       ['grupo', 'TI41'],
       ['Materia 1', '10'],
       ['Materia 2', '10'],
       ['Materia 3', '4'],
       ['Materia 4', '1'],
       ['Materia 5', '4'],
       ['estado', 'regular'],
       ['matricula', '11111142'],
       ['nombre', 'Alumno 32'],
       ['grupo', 'TI41'],
       ['Materia 1', '6'],
       ['Materia 2', '0'],
       ['Materia 3', '5'],
       ['Materia 4', '3'],
       ['Materia 5', '2'],
       ['estado', 'regular'],
       ['matricula', '11111143'],
       ['nombre', 'Alumno 33'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '0'],
       ['Materia 2', '4'],
       ['Materia 3', '1'],
       ['Materia 4', '7'],
       ['Materia 5', '9'],
       ['estado', 'regular'],
       ['matricula', '11111144'],
       ['nombre', 'Alumno 34'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '1'],
       ['Materia 2', '1'],
       ['Materia 3', '2'],
       ['Materia 4', '3'],
       ['Materia 5', '8'],
       ['estado', 'regular'],
       ['matricula', '11111145'],
       ['nombre', 'Alumno 35'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '0'],
       ['Materia 2', '7'],
       ['Materia 3', '10'],
       ['Materia 4', '7'],
       ['Materia 5', '7'],
       ['estado', 'regular'],
       ['matricula', '11111146'],
       ['nombre', 'Alumno 36'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '7'],
       ['Materia 2', '1'],
       ['Materia 3', '4'],
       ['Materia 4', '0'],
       ['Materia 5', '6'],
       ['estado', 'regular'],
       ['matricula', '11111147'],
       ['nombre', 'Alumno 37'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '6'],
       ['Materia 2', '6'],
       ['Materia 3', '4'],
       ['Materia 4', '3'],
       ['Materia 5', '0'],
       ['estado', 'regular'],
       ['matricula', '11111148'],
       ['nombre', 'Alumno 38'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '0'],
       ['Materia 2', '6'],
       ['Materia 3', '6'],
       ['Materia 4', '3'],
       ['Materia 5', '5'],
       ['estado', 'regular'],
       ['matricula', '11111149'],
       ['nombre', 'Alumno 39'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '8'],
       ['Materia 2', '7'],
       ['Materia 3', '9'],
       ['Materia 4', '5'],
       ['Materia 5', '2'],
       ['estado', 'regular'],
       ['matricula', '11111150'],
       ['nombre', 'Alumno 40'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '1'],
       ['Materia 2', '0'],
       ['Materia 3', '3'],
       ['Materia 4', '4'],
       ['Materia 5', '10'],
       ['estado', 'regular'],
       ['matricula', '11111151'],
       ['nombre', 'Alumno 41'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '6'],
       ['Materia 2', '5'],
       ['Materia 3', '1'],
       ['Materia 4', '5'],
       ['Materia 5', '9'],
       ['estado', 'regular'],
       ['matricula', '11111152'],
       ['nombre', 'Alumno 42'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '2'],
       ['Materia 2', '0'],
       ['Materia 3', '9'],
       ['Materia 4', '9'],
       ['Materia 5', '5'],
       ['estado', 'regular'],
       ['matricula', '11111153'],
       ['nombre', 'Alumno 43'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '3'],
       ['Materia 2', '4'],
       ['Materia 3', '0'],
       ['Materia 4', '0'],
       ['Materia 5', '0'],
       ['estado', 'regular'],
       ['matricula', '11111154'],
       ['nombre', 'Alumno 44'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '3'],
       ['Materia 2', '1'],
       ['Materia 3', '1'],
       ['Materia 4', '7'],
       ['Materia 5', '10'],
       ['estado', 'regular'],
       ['matricula', '11111155'],
       ['nombre', 'Alumno 45'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '4'],
       ['Materia 2', '1'],
       ['Materia 3', '2'],
       ['Materia 4', '8'],
       ['Materia 5', '6'],
       ['estado', 'regular'],
       ['matricula', '11111156'],
       ['nombre', 'Alumno 46'],
       ['grupo', 'IDGS71'],
       ['Materia 1', '10'],
       ['Materia 2', '1'],
       ['Materia 3', '10'],
       ['Materia 4', '0'],
       ['Materia 5', '7'],
       ['estado', 'regular'],
       ['matricula', '11111157'],
       ['nombre', 'Alumno 47'],
       ['grupo', 'IDGS71'],
       ['Materia 1', '9'],
       ['Materia 2', '10'],
       ['Materia 3', '1'],
       ['Materia 4', '3'],
       ['Materia 5', '9'],
       ['estado', 'regular'],
       ['matricula', '11111158'],
       ['nombre', 'Alumno 48'],
       ['grupo', 'IDGS71'],
       ['Materia 1', '4'],
       ['Materia 2', '4'],
       ['Materia 3', '10'],
       ['Materia 4', '6'],
       ['Materia 5', '8'],
       ['Materia 6', '10']], dtype=object)

DEBEMOS DE OPTENER LAS CABECERAS CON EL MIMSO PROCEDIMIENTO VISTO EN CLASE PARA UN USO MAS FACIL

In [125]:
cabecera_archivo = califi.T[0]
cabecera_archivo[:10]

array(['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula'],
      dtype=object)

NOS DEVUELVE EL NUMERO DE ELEMENTOS QUE ESTAN EN EL ARRAY Y LA CANTIDAD DE CABECERAS

In [126]:
cabecera_archivo.size

432

In [128]:
np.unique(cabecera_archivo).size

10

PROCESO PARA DEVOLVER LAS CABECERAS PRICIPALES Y ASI MISMO CONTARLAS PARA SABER LA CANTIDAD DE CABECERAS

In [130]:
cabecera_principales = cabecera_archivo[:9]

In [131]:
cabecera_principales

array(['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado'], dtype=object)

In [132]:
total_cabeceras = cabecera_principales.size

In [133]:
total_cabeceras

9

In [135]:
total_datos = califi.T[0].size

432

In [136]:
total_datos

432

PROCESO PARA CALCULAR EL NUMERO DE REGISTROS DENTRO DEL ARCHIVO

In [139]:
linea = total_datos / total_cabeceras

In [138]:
linea

48.0

PROCESO PARA ELIMINAR CABECERAS

In [144]:
archivo = np.delete(califi,0,1)

In [145]:
archivo [:10]

array([['11111111'],
       ['Alumno 1'],
       ['TI11'],
       ['1'],
       ['8'],
       ['1'],
       ['7'],
       ['2'],
       ['regular'],
       ['11111112']], dtype=object)

In [147]:
archivo = archivo.reshape(int(linea),int(total_cabeceras))

In [148]:
archivo.shape

(48, 9)

In [152]:
alumno = np.array(archivo[:,:3])
alumno[:5]

array([['11111111', 'Alumno 1', 'TI11'],
       ['11111112', 'Alumno 2', 'TI11'],
       ['11111113', 'Alumno 3', 'TI11'],
       ['11111114', 'Alumno 4', 'TI11'],
       ['11111115', 'Alumno 5', 'TI11']], dtype=object)

PROCESO PARA SEPARAR LAS CALIFICACIONES DEL ARCHIVO

In [155]:
calificacion = np.array(archivo[:,3:8],dtype=float)

In [157]:
calificacion[:5]

array([[ 1.,  8.,  1.,  7.,  2.],
       [10.,  7.,  1.,  8.,  5.],
       [nan,  1.,  1.,  3.,  0.],
       [nan,  4.,  3.,  2.,  7.],
       [ 9., 10.,  3.,  9.,  2.]])

In [158]:
calificacion.shape

(48, 5)

PROCESO PARA CALCULAR EL PROMEDIO

In [159]:
calificaciones = []
for index in range(int(linea)):
  calificaciones.append(["regular",calificacion[index].mean()])
calificaciones = np.array(calificaciones)
calificaciones [:5]

array([['regular', '3.8'],
       ['regular', '6.2'],
       ['regular', 'nan'],
       ['regular', 'nan'],
       ['regular', '6.6']], dtype='<U32')

PROCESO PARA LA UNION DE LOS ARREGLOS

In [161]:
archivo_completo = np.concatenate((alumno,calificacion,calificaciones),axis=1)
archivo_completo[:5]

array([['11111111', 'Alumno 1', 'TI11', 1.0, 8.0, 1.0, 7.0, 2.0,
        'regular', '3.8'],
       ['11111112', 'Alumno 2', 'TI11', 10.0, 7.0, 1.0, 8.0, 5.0,
        'regular', '6.2'],
       ['11111113', 'Alumno 3', 'TI11', nan, 1.0, 1.0, 3.0, 0.0,
        'regular', 'nan'],
       ['11111114', 'Alumno 4', 'TI11', nan, 4.0, 3.0, 2.0, 7.0,
        'regular', 'nan'],
       ['11111115', 'Alumno 5', 'TI11', 9.0, 10.0, 3.0, 9.0, 2.0,
        'regular', '6.6']], dtype=object)

In [164]:
cabecera_principales = np.concatenate((cabecera_principales,["promedio"]),axis=0)

In [165]:
cabecera_principales

array(['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'promedio'],
      dtype=object)

PROCESO DE UNIR LAS CABECERAS LOS ARRAY Y LAS CABECERAS

In [167]:
archivo_completo = np.concatenate(([cabecera_principales],archivo_completo),axis=0)
archivo_completo

array([['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
        'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'promedio'],
       ['11111111', 'Alumno 1', 'TI11', 1.0, 8.0, 1.0, 7.0, 2.0,
        'regular', '3.8'],
       ['11111112', 'Alumno 2', 'TI11', 10.0, 7.0, 1.0, 8.0, 5.0,
        'regular', '6.2'],
       ['11111113', 'Alumno 3', 'TI11', nan, 1.0, 1.0, 3.0, 0.0,
        'regular', 'nan'],
       ['11111114', 'Alumno 4', 'TI11', nan, 4.0, 3.0, 2.0, 7.0,
        'regular', 'nan'],
       ['11111115', 'Alumno 5', 'TI11', 9.0, 10.0, 3.0, 9.0, 2.0,
        'regular', '6.6'],
       ['11111116', 'Alumno 6', 'TI11', 1.0, 3.0, 8.0, 1.0, 7.0,
        'regular', '4.0'],
       ['11111117', 'Alumno 7', 'TI11', 4.0, 7.0, 1.0, 6.0, 5.0,
        'regular', '4.6'],
       ['11111118', 'Alumno 8', 'TI11', 10.0, 1.0, 7.0, 10.0, 0.0,
        'regular', '5.6'],
       ['11111119', 'Alumno 9', 'TI11', 5.0, 5.0, 4.0, 0.0, 3.0,
        'regular', '3.4'],
       ['11111120', 'Alumno 10', 'TI11', 5.0, 7.0, 3.0, 3.0, 4.0,
        'regular', '4.4'],
       ['11111121', 'Alumno 11', 'TI11', 6.0, 1.0, 3.0, 7.0, 0.0,
        'regular', '3.4'],
       ['11111122', 'Alumno 12', 'TI11', 7.0, 2.0, 5.0, 4.0, 5.0,
        'regular', '4.6'],
       ['11111123', 'Alumno 13', 'TI12', 5.0, 2.0, 3.0, 0.0, 1.0,
        'regular', '2.2'],
       ['11111124', 'Alumno 14', 'TI12', 5.0, 2.0, 10.0, 0.0, 6.0,
        'regular', '4.6'],
       ['11111125', 'Alumno 15', 'TI12', 9.0, 9.0, 1.0, 3.0, 1.0,
        'regular', '4.6'],
       ['11111126', 'Alumno 16', 'TI12', 1.0, 2.0, 1.0, 7.0, 7.0,
        'regular', '3.6'],
       ['11111127', 'Alumno 17', 'TI12', 0.0, 2.0, 1.0, 0.0, 2.0,
        'regular', '1.0'],
       ['11111128', 'Alumno 18', 'TI12', 0.0, 1.0, 4.0, 7.0, 6.0,
        'regular', '3.6'],
       ['11111129', 'Alumno 19', 'TI12', 0.0, 8.0, 7.0, 8.0, 2.0,
        'regular', '5.0'],
       ['11111130', 'Alumno 20', 'TI12', 4.0, 0.0, 5.0, 0.0, 4.0,
        'regular', '2.6'],
       ['11111131', 'Alumno 21', 'TI12', 6.0, 4.0, 2.0, 10.0, 10.0,
        'regular', '6.4'],
       ['11111132', 'Alumno 22', 'TI12', 5.0, 6.0, 9.0, 0.0, 3.0,
        'regular', '4.6'],
       ['11111133', 'Alumno 23', 'TI12', 1.0, 9.0, 7.0, 7.0, 6.0,
        'regular', '6.0'],
       ['11111134', 'Alumno 24', 'TI41', 4.0, 0.0, 10.0, 7.0, 0.0,
        'regular', '4.2'],
       ['11111135', 'Alumno 25', 'TI41', 3.0, 3.0, 0.0, 8.0, 5.0,
        'regular', '3.8'],
       ['11111136', 'Alumno 26', 'TI41', 0.0, 5.0, 7.0, 2.0, 5.0,
        'regular', '3.8'],
       ['11111137', 'Alumno 27', 'TI41', 0.0, 0.0, 6.0, 0.0, 5.0,
        'regular', '2.2'],
       ['11111138', 'Alumno 28', 'TI41', 9.0, 3.0, 10.0, 9.0, 6.0,
        'regular', '7.4'],
       ['11111139', 'Alumno 29', 'TI41', 0.0, 5.0, 1.0, 10.0, 1.0,
        'regular', '3.4'],
       ['11111140', 'Alumno 30', 'TI41', 3.0, 3.0, 5.0, 9.0, 9.0,
        'regular', '5.8'],
       ['11111141', 'Alumno 31', 'TI41', 10.0, 10.0, 4.0, 1.0, 4.0,
        'regular', '5.8'],
       ['11111142', 'Alumno 32', 'TI41', 6.0, 0.0, 5.0, 3.0, 2.0,
        'regular', '3.2'],
       ['11111143', 'Alumno 33', 'IDGS91', 0.0, 4.0, 1.0, 7.0, 9.0,
        'regular', '4.2'],
       ['11111144', 'Alumno 34', 'IDGS91', 1.0, 1.0, 2.0, 3.0, 8.0,
        'regular', '3.0'],
       ['11111145', 'Alumno 35', 'IDGS91', 0.0, 7.0, 10.0, 7.0, 7.0,
        'regular', '6.2'],
       ['11111146', 'Alumno 36', 'IDGS91', 7.0, 1.0, 4.0, 0.0, 6.0,
        'regular', '3.6'],
       ['11111147', 'Alumno 37', 'IDGS91', 6.0, 6.0, 4.0, 3.0, 0.0,
        'regular', '3.8'],
       ['11111148', 'Alumno 38', 'IDGS91', 0.0, 6.0, 6.0, 3.0, 5.0,
        'regular', '4.0'],
       ['11111149', 'Alumno 39', 'IDGS91', 8.0, 7.0, 9.0, 5.0, 2.0,
        'regular', '6.2'],
       ['11111150', 'Alumno 40', 'IDGS91', 1.0, 0.0, 3.0, 4.0, 10.0,
        'regular', '3.6'],
       ['11111151', 'Alumno 41', 'IDGS91', 6.0, 5.0, 1.0, 5.0, 9.0,
        'regular', '5.2'],
       ['11111152', 'Alumno 42', 'IDGS91', 2.0, 0.0, 9.0, 9.0, 5.0,
        'regular', '5.0'],
       ['11111153', 'Alumno 43', 'IDGS91', 3.0, 4.0, 0.0, 0.0, 0.0,
        'regular', '1.4'],
       ['11111154', 'Alumno 44', 'IDGS91', 3.0, 1.0, 1.0, 7.0, 10.0,
        'regular', '4.4'],
       ['11111155', 'Alumno 45', 'IDGS91', 4.0, 1.0, 2.0, 8.0, 6.0,
        'regular', '4.2'],
       ['11111156', 'Alumno 46', 'IDGS71', 10.0, 1.0, 10.0, 0.0, 7.0,
        'regular', '5.6'],
       ['11111157', 'Alumno 47', 'IDGS71', 9.0, 10.0, 1.0, 3.0, 9.0,
        'regular', '6.4'],
       ['11111158', 'Alumno 48', 'IDGS71', 4.0, 4.0, 10.0, 6.0, 8.0,
        'regular', '6.4']], dtype=object)

In [168]:
archivo_completo = np.delete(archivo_completo, 1, axis=0)

In [169]:
archivo_completo

array([['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
        'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'promedio'],
       ['11111112', 'Alumno 2', 'TI11', 10.0, 7.0, 1.0, 8.0, 5.0,
        'regular', '6.2'],
       ['11111113', 'Alumno 3', 'TI11', nan, 1.0, 1.0, 3.0, 0.0,
        'regular', 'nan'],
       ['11111114', 'Alumno 4', 'TI11', nan, 4.0, 3.0, 2.0, 7.0,
        'regular', 'nan'],
       ['11111115', 'Alumno 5', 'TI11', 9.0, 10.0, 3.0, 9.0, 2.0,
        'regular', '6.6'],
       ['11111116', 'Alumno 6', 'TI11', 1.0, 3.0, 8.0, 1.0, 7.0,
        'regular', '4.0'],
       ['11111117', 'Alumno 7', 'TI11', 4.0, 7.0, 1.0, 6.0, 5.0,
        'regular', '4.6'],
       ['11111118', 'Alumno 8', 'TI11', 10.0, 1.0, 7.0, 10.0, 0.0,
        'regular', '5.6'],
       ['11111119', 'Alumno 9', 'TI11', 5.0, 5.0, 4.0, 0.0, 3.0,
        'regular', '3.4'],
       ['11111120', 'Alumno 10', 'TI11', 5.0, 7.0, 3.0, 3.0, 4.0,
        'regular', '4.4'],
       ['11111121', 'Alumno 11', 'TI11', 6.0, 1.0, 3.0, 7.0, 0.0,
        'regular', '3.4'],
       ['11111122', 'Alumno 12', 'TI11', 7.0, 2.0, 5.0, 4.0, 5.0,
        'regular', '4.6'],
       ['11111123', 'Alumno 13', 'TI12', 5.0, 2.0, 3.0, 0.0, 1.0,
        'regular', '2.2'],
       ['11111124', 'Alumno 14', 'TI12', 5.0, 2.0, 10.0, 0.0, 6.0,
        'regular', '4.6'],
       ['11111125', 'Alumno 15', 'TI12', 9.0, 9.0, 1.0, 3.0, 1.0,
        'regular', '4.6'],
       ['11111126', 'Alumno 16', 'TI12', 1.0, 2.0, 1.0, 7.0, 7.0,
        'regular', '3.6'],
       ['11111127', 'Alumno 17', 'TI12', 0.0, 2.0, 1.0, 0.0, 2.0,
        'regular', '1.0'],
       ['11111128', 'Alumno 18', 'TI12', 0.0, 1.0, 4.0, 7.0, 6.0,
        'regular', '3.6'],
       ['11111129', 'Alumno 19', 'TI12', 0.0, 8.0, 7.0, 8.0, 2.0,
        'regular', '5.0'],
       ['11111130', 'Alumno 20', 'TI12', 4.0, 0.0, 5.0, 0.0, 4.0,
        'regular', '2.6'],
       ['11111131', 'Alumno 21', 'TI12', 6.0, 4.0, 2.0, 10.0, 10.0,
        'regular', '6.4'],
       ['11111132', 'Alumno 22', 'TI12', 5.0, 6.0, 9.0, 0.0, 3.0,
        'regular', '4.6'],
       ['11111133', 'Alumno 23', 'TI12', 1.0, 9.0, 7.0, 7.0, 6.0,
        'regular', '6.0'],
       ['11111134', 'Alumno 24', 'TI41', 4.0, 0.0, 10.0, 7.0, 0.0,
        'regular', '4.2'],
       ['11111135', 'Alumno 25', 'TI41', 3.0, 3.0, 0.0, 8.0, 5.0,
        'regular', '3.8'],
       ['11111136', 'Alumno 26', 'TI41', 0.0, 5.0, 7.0, 2.0, 5.0,
        'regular', '3.8'],
       ['11111137', 'Alumno 27', 'TI41', 0.0, 0.0, 6.0, 0.0, 5.0,
        'regular', '2.2'],
       ['11111138', 'Alumno 28', 'TI41', 9.0, 3.0, 10.0, 9.0, 6.0,
        'regular', '7.4'],
       ['11111139', 'Alumno 29', 'TI41', 0.0, 5.0, 1.0, 10.0, 1.0,
        'regular', '3.4'],
       ['11111140', 'Alumno 30', 'TI41', 3.0, 3.0, 5.0, 9.0, 9.0,
        'regular', '5.8'],
       ['11111141', 'Alumno 31', 'TI41', 10.0, 10.0, 4.0, 1.0, 4.0,
        'regular', '5.8'],
       ['11111142', 'Alumno 32', 'TI41', 6.0, 0.0, 5.0, 3.0, 2.0,
        'regular', '3.2'],
       ['11111143', 'Alumno 33', 'IDGS91', 0.0, 4.0, 1.0, 7.0, 9.0,
        'regular', '4.2'],
       ['11111144', 'Alumno 34', 'IDGS91', 1.0, 1.0, 2.0, 3.0, 8.0,
        'regular', '3.0'],
       ['11111145', 'Alumno 35', 'IDGS91', 0.0, 7.0, 10.0, 7.0, 7.0,
        'regular', '6.2'],
       ['11111146', 'Alumno 36', 'IDGS91', 7.0, 1.0, 4.0, 0.0, 6.0,
        'regular', '3.6'],
       ['11111147', 'Alumno 37', 'IDGS91', 6.0, 6.0, 4.0, 3.0, 0.0,
        'regular', '3.8'],
       ['11111148', 'Alumno 38', 'IDGS91', 0.0, 6.0, 6.0, 3.0, 5.0,
        'regular', '4.0'],
       ['11111149', 'Alumno 39', 'IDGS91', 8.0, 7.0, 9.0, 5.0, 2.0,
        'regular', '6.2'],
       ['11111150', 'Alumno 40', 'IDGS91', 1.0, 0.0, 3.0, 4.0, 10.0,
        'regular', '3.6'],
       ['11111151', 'Alumno 41', 'IDGS91', 6.0, 5.0, 1.0, 5.0, 9.0,
        'regular', '5.2'],
       ['11111152', 'Alumno 42', 'IDGS91', 2.0, 0.0, 9.0, 9.0, 5.0,
        'regular', '5.0'],
       ['11111153', 'Alumno 43', 'IDGS91', 3.0, 4.0, 0.0, 0.0, 0.0,
        'regular', '1.4'],
       ['11111154', 'Alumno 44', 'IDGS91', 3.0, 1.0, 1.0, 7.0, 10.0,
        'regular', '4.4'],
       ['11111155', 'Alumno 45', 'IDGS91', 4.0, 1.0, 2.0, 8.0, 6.0,
        'regular', '4.2'],
       ['11111156', 'Alumno 46', 'IDGS71', 10.0, 1.0, 10.0, 0.0, 7.0,
        'regular', '5.6'],
       ['11111157', 'Alumno 47', 'IDGS71', 9.0, 10.0, 1.0, 3.0, 9.0,
        'regular', '6.4'],
       ['11111158', 'Alumno 48', 'IDGS71', 4.0, 4.0, 10.0, 6.0, 8.0,
        'regular', '6.4']], dtype=object)

PROCESO PARA LA CONVERSION A UN DATAFRAME

In [173]:
archivo_completo = pd.DataFrame(archivo_completo)
archivo_completo

,0,1,2,3,4,5,6,7,8,9
0,matricula,nombre,grupo,Materia 1,Materia 2,Materia 3,Materia 4,Materia 5,estado,promedio
1,11111112,Alumno 2,TI11,10.0,7.0,1.0,8.0,5.0,regular,6.2
2,11111113,Alumno 3,TI11,NaN,1.0,1.0,3.0,0.0,regular,nan
3,11111114,Alumno 4,TI11,NaN,4.0,3.0,2.0,7.0,regular,nan
4,11111115,Alumno 5,TI11,9.0,10.0,3.0,9.0,2.0,regular,6.6
5,11111116,Alumno 6,TI11,1.0,3.0,8.0,1.0,7.0,regular,4.0
6,11111117,Alumno 7,TI11,4.0,7.0,1.0,6.0,5.0,regular,4.6
7,11111118,Alumno 8,TI11,10.0,1.0,7.0,10.0,0.0,regular,5.6
8,11111119,Alumno 9,TI11,5.0,5.0,4.0,0.0,3.0,regular,3.4
9,11111120,Alumno 10,TI11,5.0,7.0,3.0,3.0,4.0,regular,4.4
10,11111121,Alumno 11,TI11,6.0,1.0,3.0,7.0,0.0,regular,3.4
11,11111122,Alumno 12,TI11,7.0,2.0,5.0,4.0,5.0,regular,4.6
12,11111123,Alumno 13,TI12,5.0,2.0,3.0,0.0,1.0,regular,2.2
13,11111124,Alumno 14,TI12,5.0,2.0,10.0,0.0,6.0,regular,4.6
14,11111125,Alumno 15,TI12,9.0,9.0,1.0,3.0,1.0,regular,4.6
15,11111126,Alumno 16,TI12,1.0,2.0,1.0,7.0,7.0,regular,3.6
16,11111127,Alumno 17,TI12,0.0,2.0,1.0,0.0,2.0,regular,1.0
17,11111128,Alumno 18,TI12,0.0,1.0,4.0,7.0,6.0,regular,3.6
18,11111129,Alumno 19,TI12,0.0,8.0,7.0,8.0,2.0,regular,5.0
19,11111130,Alumno 20,TI12,4.0,0.0,5.0,0.0,4.0,regular,2.6
20,11111131,Alumno 21,TI12,6.0,4.0,2.0,10.0,10.0,regular,6.4
21,11111132,Alumno 22,TI12,5.0,6.0,9.0,0.0,3.0,regular,4.6
22,11111133,Alumno 23,TI12,1.0,9.0,7.0,7.0,6.0,regular,6.0
23,11111134,Alumno 24,TI41,4.0,0.0,10.0,7.0,0.0,regular,4.2
24,11111135,Alumno 25,TI41,3.0,3.0,0.0,8.0,5.0,regular,3.8
25,11111136,Alumno 26,TI41,0.0,5.0,7.0,2.0,5.0,regular,3.8
26,11111137,Alumno 27,TI41,0.0,0.0,6.0,0.0,5.0,regular,2.2
27,11111138,Alumno 28,TI41,9.0,3.0,10.0,9.0,6.0,regular,7.4
28,11111139,Alumno 29,TI41,0.0,5.0,1.0,10.0,1.0,regular,3.4
29,11111140,Alumno 30,TI41,3.0,3.0,5.0,9.0,9.0,regular,5.8
30,11111141,Alumno 31,TI41,10.0,10.0,4.0,1.0,4.0,regular,5.8
31,11111142,Alumno 32,TI41,6.0,0.0,5.0,3.0,2.0,regular,3.2
32,11111143,Alumno 33,IDGS91,0.0,4.0,1.0,7.0,9.0,regular,4.2
33,11111144,Alumno 34,IDGS91,1.0,1.0,2.0,3.0,8.0,regular,3.0
34,11111145,Alumno 35,IDGS91,0.0,7.0,10.0,7.0,7.0,regular,6.2
35,11111146,Alumno 36,IDGS91,7.0,1.0,4.0,0.0,6.0,regular,3.6
36,11111147,Alumno 37,IDGS91,6.0,6.0,4.0,3.0,0.0,regular,3.8
37,11111148,Alumno 38,IDGS91,0.0,6.0,6.0,3.0,5.0,regular,4.0
38,11111149,Alumno 39,IDGS91,8.0,7.0,9.0,5.0,2.0,regular,6.2
39,11111150,Alumno 40,IDGS91,1.0,0.0,3.0,4.0,10.0,regular,3.6
40,11111151,Alumno 41,IDGS91,6.0,5.0,1.0,5.0,9.0,regular,5.2
41,11111152,Alumno 42,IDGS91,2.0,0.0,9.0,9.0,5.0,regular,5.0
42,11111153,Alumno 43,IDGS91,3.0,4.0,0.0,0.0,0.0,regular,1.4
43,11111154,Alumno 44,IDGS91,3.0,1.0,1.0,7.0,10.0,regular,4.4
44,11111155,Alumno 45,IDGS91,4.0,1.0,2.0,8.0,6.0,regular,4.2
45,11111156,Alumno 46,IDGS71,10.0,1.0,10.0,0.0,7.0,regular,5.6
46,11111157,Alumno 47,IDGS71,9.0,10.0,1.0,3.0,9.0,regular,6.4
47,11111158,Alumno 48,IDGS71,4.0,4.0,10.0,6.0,8.0,regular,6.4

EXPORTAMOS EL RESULTADO A CSV CON EL NOMBRE "calificaciones_promedio_v2.csv" separado por ","

In [172]:
archivo_completo.to_csv('calificaciones_promedio_v2.csv', sep=',', index=False, header=False)