<a href="https://colab.research.google.com/github/Addair40/colab/blob/main/repaso_python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
words = ["select", "from"]
consulta = "select * from contactos;"

for w in words:
    consulta = consulta.replace(w,w.upper())
consulta

'SELECT * FROM contactos;'

In [2]:
def formatearSQL(sql:str)->str:
    words  = ["selec","from","insert","into","values","unique"]
    for w in words:
        sql = sql.replace(w,w.upper())
    return sql

In [3]:
consulta = "select * from contactos;"
print(formatearSQL(consulta))

SELECt * FROM contactos;

In [4]:
consultas = [
    "select * from contactos;"
    "insert into contactos(nombre,telefono) values('Contactos','1234569);"
]

for c in consultas:
    print(formatearSQL(c))

SELECt * FROM contactos;INSERT INTO contactos(nombre,telefono) VALUES('Contactos','1234569);

In [5]:
consultas = [
    "select * from contactos;"
    "insert into contactos(nombre,telefono) values('Contactos','1234569);"
]

consultasf = []
for c in consultas:
    consultasf.append(formatearSQL(c))
    
consultasf

["SELECt * FROM contactos;INSERT INTO contactos(nombre,telefono) VALUES('Contactos','1234569);"]

In [6]:
consultas = [
    "select * from contactos;"
    "insert into contactos(nombre,telefono) values('Contactos','1234569);"
]

consultasf = list(map(formatearSQL,consultas))

consultasf

["SELECt * FROM contactos;INSERT INTO contactos(nombre,telefono) VALUES('Contactos','1234569);"]

### EJEMPLO DE ABRIR UN ARCHIVO TXT DE MODO LECTURA

In [10]:
with open("archivo.txt","r") as file:
  print(file.readline())

01/01/2022,10,10,10,