<a href="https://colab.research.google.com/github/Addair40/colab/blob/main/Seriesenpandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas  as pd
import numpy as np

SERIES EN PANDA

In [4]:
pd.__version__

'1.3.5'

In [5]:
np.__version__

'1.21.6'

Una serie es la columna de una hoja de calculo y se puede colocar cualquier elemento en pandas

CREACION DE SERIES

In [4]:
etiquetas = ["A","B","C"]                              #CREACION DE UNA SERIE 
datos = [1,2,3]
s = pd.Series(data=datos,index=etiquetas)
s

A    1
B    2
C    3
dtype: int64

In [5]:
etiquetas = ["A","B","C"]
datos = [1,2,3]
s = pd.Series(datos,etiquetas)
s

A    1
B    2
C    3
dtype: int64

In [6]:
datos = {"a":1,"b":"Hola","c":True}   #SE GENERA UNA SERIE CON DIFERENTES OPCIONES DE DATOS Y NOS DA TIPO OBJECT
s = pd.Series(datos)
s.dtype


#s["c"]                                 #SE PUEDE ACCEDER A LA ETIQUETA
#s[2]                                   #SE PUEDE ACCEDER MEDIANTE LA POSICION
#s[0:2]                                 #MUESTRA DATOS DEL 0 AL 2 QUE SERIA DE a=1 y b=Hola
#s.head(1)                              #SE PUEDE IMPLEMENTAR PARA BUSCAR MEDIANTE HEAD Y ASI INDICAR MENDIANTE EL NUMERO LO QUE SE DEBE DE MOSTRA
#s.tail(1)                              #TAIL SIGNIFICA COLA Y EMPIZA DE ABAJO HACIA ARRIBA Y MENDIANTE EL NUMERO SERA LO QUE SE DEBE MOSTRA

dtype('O')

In [7]:
etiquetas = ["a","b","c"]            #SE DEBE DE COLOCAR EL NUMERO DE ETIQUETAS Y EL NUMERO DE DATOS
datos = (1,2,3)
s = pd.Series(datos,etiquetas)
s

a    1
b    2
c    3
dtype: int64

In [8]:
etiquetas = ["a","b","c"]            #EN LA CREACION DEBE DE TENER EL MISMO N NUMERO DE EQTUIETAS Y EL N NUMERO DE DATOS YA QUE SI NO DARA ERROR
datos = (1,2)
s = pd.Series(datos,etiquetas)
s

ValueError: ignored

In [9]:
etiquetas = ["a","b","c"]          
datos = (1,"Hola",True)
s = pd.Series(datos,etiquetas)
#s=type(s["a"])                     #SE ACEPTA DIFERENTES TIPOS DE DATOS 
#s=type(s["b"])
s=type(s["c"])
s

bool

In [10]:
etiquetas = ["a","b","c"]          
datos = (10,"Hola",True)
s = pd.Series(data=datos,index=etiquetas,name="Serie1")    #
s.name
s2 = s.rename("otro nombre")    #CAMBIO DE NOMBRE
s2
s.describe()                    #PERMITE GENERAR LA ESTADISTICA BASICA DE LA SERIE Y CUENTA EL NUMERO DE ELEMENTOS

count      3
unique     3
top       10
freq       1
Name: Serie1, dtype: int64

In [11]:
etiquetas = ["a","b","c"]          
datos = (10,20,30)
s = pd.Series(data=datos,index=etiquetas,name="Serie1") 
s.describe()                      #DESCRIBE LA SERIE Y LA ESTADISTICA CON VALORES IMPORTANTES COMO LA MEDIA, MAXIMA, ETC

count     3.0
mean     20.0
std      10.0
min      10.0
25%      15.0
50%      20.0
75%      25.0
max      30.0
Name: Serie1, dtype: float64

In [12]:
etiquetas = ["a","b","c","d"]          
datos = (10,20,30,True)
s = pd.Series(data=datos,index=etiquetas,name="Serie1")   #SI NO SE VE LOS DATOS DE MEDIA, MAXIMO, ETC, EXISTE UN VALOR QUE NO ES NUMERICO Y NO PUEDE DAR LA ESTADISTICA BASICA
s.describe()

count      4
unique     4
top       10
freq       1
Name: Serie1, dtype: int64

In [13]:
etiquetas = ["uno","dos","cuatro"]
datos = {"uno":1,"dos":2, "tres":3}   #EL TRES NO LO REPRESENTA PORQUE NO TIENE EL VALOR Y LA ETIQUETA NO ES CORRECTA
s = pd.Series(data=datos,index=etiquetas,name="Serie1")
s

uno       1.0
dos       2.0
cuatro    NaN
Name: Serie1, dtype: float64

In [14]:
etiquetas = ["uno","dos","uno"]
datos = {"uno":1,"dos":2, "tres":3}   #AL NO ENCONTRAR LA ETIQUETA LO IGNORA Y VUELVE A COLOCAR EL DATO SIGUIENTE
s = pd.Series(data=datos,index=etiquetas,name="Serie1")
s

uno    1
dos    2
uno    1
Name: Serie1, dtype: int64

In [15]:
s1 = pd.Series([1,2,3],["a","b","c"])
s2 = pd.Series([4,5,6],["a","b","c"])
#s1 + s2
#s1 - s2
#s1 * s2
#s1 / s2
#s1 // s2
#s1 % s2
#s1 ** s2
#s1 * 5
#s1.median()          #MEDIANA
#s1[s1< s1.median()]   #FILTROS MENORES A LA MEDIANA
#s1[s1< 3]             #SE LO APLICA A CADA UNO DE LOS ELEMENTOS SIENDO MENORES A 3
#"a" in s1             #BUSCA INDEX EN LA SERIE QUE SE TIENE
#"x" in s1
#"3" in s1
#help(type(s1))